section{
    .bage-title
    {
        background-image: url('../../../assets/imags/header-bg-svg.svg');
        background-repeat: no-repeat;
        background-color: #009247;
        border-radius: 15px;
        color: #fff;
        span{
            font-size: 30px;
            font-weight: 200;
            color: #ffffffae;
        }
        p{
            color: #ffffffde;
        }
    }
    .nav{
        background-color: #F0FFEF;
        padding: 20px;
        border-radius: 15px;
        margin: 0.5rem 0;
        .one{
            h4{
                color: #222222dd;
            }
            span{
                font-weight: 700;
                color: #009247;
            }
            p{
                color: #acacac;
            }
        }
    }
    button{
        border: none;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        &.primary-but{
            background-color: #4aa35a;
            color: #fff;
            text-align: center;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}

