  <div class="container">
    <div class="">
      <div class="box">
        <div class="form">
          <div class="logo text-center">
            <img src="../../assets/imags/logo.png" alt="">
          </div>
          <div class="title">
            <h2>Change Your Password</h2>
            <p>Enter your details below</p>
          </div>
          <form [formGroup]="formPassword" (ngSubmit)="onSendData(formPassword)">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input 
                type="password" 
                formControlName="oldPassword"
                class="form-control" 
                placeholder="Old Password" 
                aria-label="oldPassword" 
                aria-describedby="basic-addon1"
              />
            </div>
            <p class="text-danger" *ngIf="formPassword.get('oldPassword')?.invalid && formPassword.get('oldPassword')?.touched">
              Please enter a valid Old Password
            </p>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input 
                [type]="isHide ? 'password' : 'text'" 
                formControlName="newPassword"
                class="form-control" 
                placeholder="New Password" 
                aria-label="newPassword" 
                aria-describedby="basic-addon1"
              />
              <a class="input-group-text" (click)="isHide = !isHide">
                <i [class]="isHide ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </a>
            </div>
            <p class="text-danger" *ngIf="formPassword.get('newPassword')?.invalid && formPassword.get('newPassword')?.touched">
              Password must be at least 6 characters
            </p>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input 
                [type]="isHide ? 'password' : 'text'" 
                formControlName="confirmNewPassword"
                class="form-control" 
                placeholder="Confirm New Password" 
                aria-label="confirmNewPassword" 
                aria-describedby="basic-addon1"
              />
              <a class="input-group-text" (click)="isHide = !isHide">
                <i [class]="isHide ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </a>
            </div>
            <p class="text-danger" *ngIf="formPassword.value.newPassword">
              New Password and Confirm Password must match
            </p>

            <div>
              <button class="primary-but w-100" [disabled]="formPassword.invalid">
                Change Password
              </button>
            </div>
          </form>

          <p class="text-success" *ngIf="successMessage">{{ successMessage }}</p>
          <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>

